body {
    background-color: #ffeeec;
}


#logo{
    position: absolute;
    margin-top: -10px;
    margin-left: 0px;
    height: 90px;
}

#clownImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#knightImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#mononokeImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#princessImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#squirtleImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#vaderImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#grinchImage {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
    width: 400px;
    box-shadow: 3px 3px #daaaaa70;
}

#text1 {
    font-size: 2em;
    color: #5e554c;
    font-family: Palatino, "Times New Roman";
    position: absolute;
    margin-top: 200px;
    margin-left: 700px;
}

#text2 {
    font-size: 1em;
    color: #5e554c;
    font-family: Palatino, "Times New Roman";
    position: absolute;
    margin-top: 300px;
    margin-left: 700px;
}

#bokaKnapp {
    background-color: #ffdcdc;
    color: #da9fa9;
    font-size: 1.5em;
    text-align: center;
    width: 150px;
    height: 50px;
    position: absolute;
    margin-top: 546px;
    margin-left: 700px;
    box-shadow: 2px 2px #daaaaa70;
    line-height: 50px;
}

#bokaKnapp:hover {
    color: palevioletred;
}

nav ul {
    text-align: right;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    padding: 30px;
    font-family: Palatino, "Times New Roman";
    color: #5e554c;
    font-size: 20px;
    text-decoration: none;
    display: block;
    text-shadow: 2px 2px 3px lightgrey;
  }
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
  }

  #logo{
    position: absolute;
    margin-top: -10px;
    margin-left: 0px;
    height: 90px;
  }
