#logo{
    position: absolute;
    margin-top: -10px;
    margin-left: 0px;
    height: 90px;
}

nav {
    width: 100%;
    margin: 0 auto;
  }
  nav ul {
    text-align: center;
    width: 100%;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a {
    padding: 25px;
    font-family: "Roboto";
    color: black;
    font-size: 25px;
    text-decoration: none;
    display: block;
  }
  nav ul li a:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
    background: rgba(255, 255, 255, 0.1);
  }
  .Grid {
    display: grid;
    grid-gap: 100px 1em;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
    top: 1em;
    position: relative;
    align-items: center;
    width: 100vh;
    margin: 0 auto;
     }

  .Grid > div{
      
      padding: 1em;
      
      
    }

  
  .container {
    position: relative;
    
  }
  
  .image {
    display: block;
    width: 100%;
    height: auto;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 2.5s ease-in;
    background-color: #ffeeec;
  }
  
  .container:hover .overlay {
    opacity: 0.8;
  }
  
  .text {
    color: black;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align:left;
  }
  body{
      background: #ffeeec;
  }