.imgcontainer {
  position: relative;
  
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 2s ease-in;
  background-color: #ffeeec;
}

.imgcontainer:hover .overlay {
  opacity: 0.8;
}

.text1 {
  color: black;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align:left;
}
.article{
  position: relative;
}
body {
  background: #ffeeec;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


ul {
   text-align: right;
 }
  ul li {
   display: inline-block;
 }
  ul li a {
   padding: 10px;
   font-family: "Roboto";
   color: black;
   font-size: 1em;
   text-decoration: none;
   display: block;
 }
  ul li a:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(255, 255, 255, 0.6);
   background: rgba(255, 255, 255, 0.1);
 }

header, main, footer {
	border: 2px solid gray;
	margin: 2px;
	padding: 0.2em;
}
.container {
	font-size: 1.0em;
	display: grid;
	grid-template-rows: 5em 1fr 30em;
	/*height: 90vh;*/
}

.container main {
  display: grid;
  justify-items: center;
  background: url(boka.jpg) no-repeat;
  background-size: cover;
}

.article > div {
  border: none;
  border-radius: 5px;
  padding: 10px;
}
.article {
  background-color: rgba(242,242,242,0.6);
  width: 80%;

}
.contact {
  display: grid;
  width: 80%;
  
  grid-template-rows: 3em 1fr;
  grid-gap: 20px;
  border-radius: 5px;
  background-color: rgba(242,242,242,0.6);
  /*background-color: #f2f2f2;*/
  padding: 20px;
}
textarea#styled {
	width: 70%;
	height: 120px;
  border: 3px solid #cccccc;

	padding: 5px;
	font-family: Tahoma, sans-serif;

}
h1 {
  text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  .container {
    grid-template-rows: 5em 1fr 70em;
  } 
  main {
    grid-template-rows: 40em 1fr;
    grid-template-columns: 1fr;
    
    
  }
  .article {
     display: grid;
     grid-template-rows: 3em 1fr 1fr 1fr 1fr;
     grid-gap: 10px;
     
  }
  footer {
    display: grid;
    grid-template-rows: 3em 1fr 1fr 1fr 8em;
    grid-template-columns: 1fr;
  }
   
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 601px) and (max-width: 767px) {
  
  .container {
    grid-template-rows: 5em 1fr 70em;
    
  } 
  main {
    grid-template-rows: 40em 1fr;
    grid-template-columns: 1fr;
    
  }
  .article {
    display: grid;
    /*grid-template-rows: 3em 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .header1 {
    grid-column: 1/3;
  }
  footer {
    display: grid;
    grid-template-rows: 3em 1fr 1fr 1fr 8em;
    grid-template-columns: 1fr;
  }
  
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  
  .container {
    grid-template-rows: 1em 1fr 44em;
  }
  main {
    grid-template-rows: 40em 1fr;
    grid-template-columns: 1fr;
    
  }
  .article {
    display: grid;
    /*grid-template-rows: 3em 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .header1 {
    grid-column: 1/3;
  }
  footer {
    display: grid;
    grid-template-rows: 3em 30em 8em;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 20px;
  }
  .f-header, .f-footer {
    grid-column: 1/4;
  }
  
  
  
}

button:hover {
  background-color: #45a049;
}
	
@media (pointer: fine) {
	button {
		width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
 @media (pointer: coarse){
	button {
		width: 100%;
    background-color: #4CAF50;
    
    font-size: 1.5em;
    color: white;
    padding: 16px 22px;
    margin: 9px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
}

.container main > * {
	border: 1px solid lightgray;
  padding: 2px;
   margin: 2px;	
}

img {
  width: 100%;
  height: 300px;
}


.header img {
  display: flex;
  float: left;
  width: 40%;
  height: 100%;
}
  
footer {
  background: url(world.png) 100% 100%;
  
  
}

footer > * {
 
  background-color: rgba(242,242,242,0.6);
  padding: 15px;
}
.f-footer {
  background-color: rgba(138,43,226,0.6);
  display: flex;
  
  
  justify-content: center;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  height: 30px;
  text-align: center;
  text-decoration: none;
  margin: 15px 12px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
    webkit-transform: scale(1.2,1.2);
    -ms-transform: scale(1.2,1.2);
    -o-transform: scale(1.2,1.2);
    transform: scale(1.2,1.2);
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}



.fa-linkedin {
  background: #007bb5;
  color: white;
}
a {
  text-decoration: none;
}