body {
  background: #ffeeec;
}
input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


ul {
   text-align: right;
 }
  ul li {
   display: inline-block;
 }
  ul li a {
   padding: 10px;
   font-family: "Roboto";
   color: black;
   font-size: 1em;
   text-decoration: none;
   display: block;
 }
  ul li a:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1),
   inset 0 0 1px rgba(255, 255, 255, 0.6);
   background: rgba(255, 255, 255, 0.1);
 }

header, main, footer {
	border: 2px solid gray;
	margin: 2px;
	padding: 0.2em;
}
.container {
	font-size: 1.0em;
	display: grid;
	grid-template-rows: 5em 1fr 5em;
	/*height: 90vh;*/
}

.container main {
	display: grid;
}
.article > div {
  border: 1px solid green;
}
.contact {
  display: grid;
  grid-template-rows: 3em 1fr;
  grid-gap: 20px;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
textarea#styled {
	width: 70%;
	height: 120px;
  border: 3px solid #cccccc;

	padding: 5px;
	font-family: Tahoma, sans-serif;

}
h1 {
  text-align: center;
}
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main {
    grid-template-rows: 40em 1fr;
    grid-template-columns: 1fr;
    
    
  }
  .article {
     display: grid;
     grid-template-rows: 3em 1fr 1fr 1fr 1fr;
     grid-gap: 10px;
  }
  
  
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  main {
    grid-template-rows: 40em 1fr;
    grid-template-columns: 1fr;
    
  }
  .article {
    display: grid;
    /*grid-template-rows: 3em 1fr 1fr;*/
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  .header1 {
    grid-column: 1/3;
  }
}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 768px) {
  main {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    
  }
  .article {
    display: grid;
    grid-template-rows: 3em 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .header1 {
    grid-column: 1/3;
  }
  
} 
button:hover {
  background-color: #45a049;
}
	
@media (pointer: fine) {
	button {
		width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
}
 @media (pointer: coarse){
	button {
		width: 100%;
    background-color: #4CAF50;
  
    font-size: 1.5em;
    color: white;
    padding: 16px 22px;
    margin: 9px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
	}
}

.container main > * {
	border: 1px solid lightgray;
  padding: 2px;
   margin: 2px;	
}

img {
  width: 100%;
  height: 300px;
}


.header img {
  display: flex;
  float: left;
  width: 40%;
  height: 100%;
}
  .box{
        position: relative;
        display: inline-block; /* Make the width of box same as image */
        width: 100%;
       
  }
    .box .text{
        position: absolute;
        z-index: 999;
        margin: 0 auto;
        left: 0;
        right: 0;
        top: 40%; /* Adjust this value to move the positioned div up and down */
        text-align: center;
        width: 100%; /* Set the width of the positioned div */
        opacity: 0.6;
    }
  
  .fade-in {
	opacity: 1.0;
	
}
.fade-in:hover > img {
	opacity: 0.2;
}

